* {
    scroll-behavior: smooth;
}

html,
body {
    overflow-x: hidden;
    font-family: 'Archivo Black';
    
}
@keyframes customBounce {
    30% {
        transform: scale(1.2);
    }

    40%,
    60% {
        transform: rotate(-20deg) scale(1.2);
    }

    50% {
        transform: rotate(20deg) scale(1.2);
    }

    70% {
        transform: rotate(0deg) scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.about-logos {
    animation: customBounce 1.5s infinite;
}
.w-full button:hover .svgg path {
    fill: black;
}